////////////////////////////////////////////////////////////////////////////////
// *
// * Paragraphs: text
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.paragraph--type-p-003 {
  //
}

// ** View modes (layout): defaults to 'left'

.p-003--view-mode--centered {

  text-align: center;

  // center content (combo with max-width)
  > * {
    margin-left: auto;
    margin-right: auto;
  }

  // lists centering
  //
  // IF you only want the list-items to be centered instead of the whole list,
  // move the 3 lines into the "ul, ol" declaration
  .text-long {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul,
    ol {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .field--buttons {
    //

    .button {
      //
    }
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .paragraph--type-p-003 {

    > * {
      // max-width: (100% / 12 * 9);
    }
  }
}
