////////////////////////////////////////////////////////////////////////////////
// *
// * Paragraphs: video
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.paragraph--type-p-006 {
  margin: 0 auto;

  // ** makes the image stretch to the side of the document window

  &.p--layout--video_stretched {

    padding-top: 0;
    padding-bottom: 0;

    .field--name-field-p-video,
    .field--name-field-p-media-video {
      position: relative;
      left: 50%;
      width: 100vw;
      max-width: none;
      transform: translateX(-50vw);
    }
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .paragraph--type-p-006 {
    max-width: (100% / 12 * 9);
  }
}
