<div class="event-daterange-wrapper">
    <time{{ attributes }}>
        {% if dates is not empty %}
            <div class="days">
                {% for date in dates %}
                    <span class="date">{{ date }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% if times is not empty %}
            <div class="times">
                {% for time in times %}
                    <span class="time">{{ time }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </time>
</div>