/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

@media print {
  .paragraph--type-p-001 {
    page-break-inside: avoid;
    overflow: hidden;
  }
  .paragraph--type-p-001 .field--name-field-p-title,
  .paragraph--type-p-001 .field--name-field-p-subtitle,
  .paragraph--type-p-001 .text-long,
  .paragraph--type-p-001 .field--buttons {
    float: right;
    margin-left: 0;
    width: 56%;
  }
  .paragraph--type-p-001 .field--type-video-embed-field,
  .paragraph--type-p-001 .field--image {
    float: left;
    margin-right: 0;
    width: 40%;
  }
  .paragraph--type-p-001 .field--buttons {
    float: right;
  }
  .paragraph--type-p-001.p-001--view-mode--right .field--name-field-p-title,
  .paragraph--type-p-001.p-001--view-mode--right .field--name-field-p-subtitle,
  .paragraph--type-p-001.p-001--view-mode--right .text-long,
  .paragraph--type-p-001.p-001--view-mode--right .field--buttons, .paragraph--type-p-001.p-001--view-mode--image_right .field--name-field-p-title,
  .paragraph--type-p-001.p-001--view-mode--image_right .field--name-field-p-subtitle,
  .paragraph--type-p-001.p-001--view-mode--image_right .text-long,
  .paragraph--type-p-001.p-001--view-mode--image_right .field--buttons {
    float: left;
  }
  .paragraph--type-p-001.p-001--view-mode--right .field--type-video-embed-field,
  .paragraph--type-p-001.p-001--view-mode--right .field--image, .paragraph--type-p-001.p-001--view-mode--image_right .field--type-video-embed-field,
  .paragraph--type-p-001.p-001--view-mode--image_right .field--image {
    float: right;
  }
  .paragraph--type-p-001.p-001--view-mode--right .field--buttons, .paragraph--type-p-001.p-001--view-mode--image_right .field--buttons {
    float: left;
  }
  .p-007--view-mode--4-column,
  .p-007--view-mode--four-column {
    page-break-inside: avoid;
    overflow: hidden;
  }
  .p-007--view-mode--4-column .field--name-field-p-007-children .field__items,
  .p-007--view-mode--four-column .field--name-field-p-007-children .field__items {
    margin-left: -2%;
  }
  .p-007--view-mode--4-column .field--name-field-p-007-children .field__items > .field__item,
  .p-007--view-mode--four-column .field--name-field-p-007-children .field__items > .field__item {
    float: left;
    width: 23%;
    margin-left: 2%;
  }
  .p-007--view-mode--2-column,
  .p-007--view-mode--two-column {
    page-break-inside: avoid;
    overflow: hidden;
  }
  .p-007--view-mode--2-column .field--name-field-p-007-children,
  .p-007--view-mode--two-column .field--name-field-p-007-children {
    margin-left: -2%;
  }
  .p-007--view-mode--2-column .field--name-field-p-007-children .field__items > .field__item,
  .p-007--view-mode--two-column .field--name-field-p-007-children .field__items > .field__item {
    float: left;
    width: 48%;
    margin-left: 2%;
  }
  .paragraph--type-p-010 {
    page-break-inside: avoid;
    overflow: hidden;
  }
}
