////////////////////////////////////////////////////////////////////////////////
// *
// * Paragraphs: p008 Focus
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.paragraph--type-p-008 {
  text-align: center;

  //// -- Example:
  ////     use a gradient background color over the image
  ////     when there is a bg-image
  ////
  //&.has-bg-image {
  //
  //  // First we fix the z-indexes so color goes OVER the bg image
  //  &::before {
  //    z-index: 0;
  //  }
  //
  //  .field--name-field-p-bg-image,
  //  .field--name-field-p-media-bg-image {
  //    z-index: -1;
  //    opacity: 1; // no transparency on the image needed
  //  }
  //}
  //
  //&.has-bg-image.bg--spot-1 {
  //
  //  // then we turn the bg color into a gradient
  //  // set a direction using 'to …'
  //  // use positions using %
  //  // use rgba for transparency of colors
  //  // this example:
  //  // - sets a solid bg color until position 50%,
  //  // - then it fades to opacity 0 at position 75%,
  //  // - then it stays at opacity 0 until the end position at 100%
  //  // so the image fades in between position 50% until 100%, and is fully visible from 75% until 100%;
  //
  //  &::before {
  //    background: linear-gradient(to right, rgba($color-spot-1, 1) 50%, rgba($color-spot-1, 0) 75%, rgba($color-spot-1, 0) 100%);
  //  }
  //}

  .field--buttons {

    .button {
      //
    }
  }

  .field--name-field-p-image,
  .field--name-field-p-media-image {
    //

    img {
      //
    }
  }

  .field--name-field-p-title {
    //
  }

  .field--name-field-p-subtitle {
    //
  }

  .field--name-field-p-teaser {
    //
  }

  // all fields need to go over the bg image
  //
  > * {
    position: relative;
    z-index: 1;
  }

}
