<div id="cookie-consent-popup" class="cookiePolicy">
    <div class="internal-wrapper">
        <div class="message-wrapper">
            <span class="bold first">{{ template_first_line }}</span>
            <span class="last">{{ template_second_line }}</span>
        </div>
        <div class="dismiss-wrapper"><a class="dismiss" href="#">{{ dismiss_text }}</a></div>
    </div>
</div>
